@using HipsterIpsum.Module.ViewModels;
@model HipsterIpsumViewModel
@{
    ViewData["Title"] = "Hipster Ipsum";
}
@section Styles {
    <link rel="stylesheet" href="~/HipsterIpsum.Module/css/hipster-index.css" />
}
<div>
    <!--Header and text content-->
    <h2 class="mb-4">Hipster Ipsum Content</h2>
    <p>If you're looking for some 'Hipster Lorem Ipsum' this is the place to find it. You can find three paragraphs of goodness below, arranged into cards.</p>
    <p>The data has been sourced using the <a href="https://hipsum.co/the-api/" target="_blank">Hipster Ipsum</a> API.</p>
    <!--Card content-->
    <div class="row row-cols-1 row-cols-md-3">
        @foreach (CardViewModel cardViewModel in Model.Cards)
        {
            <div class="col mb-4">
                <div class="card text-white bg-dark">
                    <div class="card-header">Hipster Paragraph @cardViewModel.Number</div>
                    <div class="card-body">
                        <p class="card-text">@cardViewModel.Content</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
