/* Override styles for the 'DinoIpsum.Module' Orchard Module - colour the carousel grey and pad out the text content (for illustration only) */
.carousel {
    background-color: dimgrey;
    color: white;
    border-radius: 3px;
}

.carousel-text {
    padding: 3rem 8rem;
}
